<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>model-viewer-preview</title>
	</head>
	<body>
		<slot />
	</body>
</html>